.menu_footer {
  border-top: 1px solid var(--black);
  padding: 1rem;

  .menu {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu a,
  .menu span {
    font-size: 1rem;
    text-transform: uppercase;
  }

  .menu a {
    cursor: pointer;
    transition: font-size 0.3s ease;
  }

  .menu a:hover {
    color: var(--black);
    font-size: 1rem;
    font-weight: 600;
  }
}
