/* ==============================
    FILTRE_MOBILE
================================*/
@media (min-width: 768px) {
  .filters {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .filters select {
    max-width: 260px;
  }

  .filters .trier {
    margin-left: auto;
  }

  .grid-photos {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .card img {
    height: 500px;
  }
}

/* ==============================
    MENU_MOBILE
================================*/
@media (max-width: 767px) {
  .main-navigation {
    height: 72px;
    padding-inline: 1.5rem;
  }

  .burger {
    display: flex;
    position: relative;
    z-index: 1000;
  }

  .nav-menu {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: var(--red);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    transform: translateX(100%);
   /*  transition: transform 0.3s ease; */
    z-index: 999;
  }

  .nav-menu.open {
    transform: translateX(0);
  }

  .nav-menu a {
    color: var(--white);
    font-size: 2rem;
  }

  .burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active span:nth-child(2) {
    opacity: 0;
  }

  .burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .hero img {
    height: 250px;
  }

  .hero h1 {
    font-size: 1.75rem;
  }

  .filters {
    margin: 25px auto;
  }

  .menu_footer .menu {
    flex-direction: column;
    gap: 12px;
  }
}

/* ==============================
 POPUP
================================*/

@media screen and (max-width: 768px) {

  .popup-content {
    padding: 90px 25px 40px;
  }

  .popup-content img {
    width: 160%;
  }

}



/*============================
LightBox
==============================*/

@media (max-width: 768px) {
  .card-inner img {
    height: 300px;
  }

  .overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.25);
  }
}

/*============================
Page single
==============================*/
@media screen and (max-width: 768px) {
  .single-photo-page {
    .photo-info,
    .photo-contact,
    .related-grid {
      grid-template-columns: 1fr;
    }

    .photo-meta {
      order: 2;
    }

    .photo-image {
      order: 1;

      > img {
        height: 500px;
      }
    }

    .photo-navigation {
      position: static;
      width: 100%;
      margin-top: 15px;
    }

    .nav-thumbnail {
      display: none;
    }

    .nav-arrows {
      justify-content: space-between;
    }

    .related-grid img {
      height: 350px;
    }
  }
}