/* ==============================
   HERO
================================*/
.hero {
  position: relative;
  width: 100%;


.img-hero {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h1 {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0;
  font-family: "Space Mono", monospace;
  font-size: 6rem;
  font-style: italic;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px var(--white);
  text-transform: uppercase; /*convertit tout le texte en majuscule*/
  letter-spacing: 2px;
  text-align: center;
}
}