:root {
  --red: #e00000;
  --black: #000000;
  --medium-grey: #d8d8d8;
  --light-red: #fe5858;
  --dark-blue: #313144;
  --light-grey: #e5e5e5;
  --tertiary-red: #ffd6d6;
  --dark-red: #c4c4c4;
  --white: #ffffff;
}